/* X and Y axis font.*/

.axis text {
    font-size: 0.7em;
}

.x.axis text {
    font-size: 0.7em;
}


/* Axis line colour. */
.axis path,
.axis line {
    stroke: black;
}

/* Grid colour.*/
.axis .tick line {
    stroke: lightgrey;
    opacity: 0.7;
}